PORT=8082
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=1
XMLTV_FEED_URL=https://ext.greektv.app/epg/epg.xml.gz
DIGEA_API_BASE=https://www.digea.gr/el/api/epg
ERT_SCHEDULE_BASE=https://www.ert.gr/tv/program
SCHEDULE_TTL=6h
REFRESH_CRON=0 */4 * * *
